.form {
  &__back {
    position: absolute;
    top: 50%;
    left: calc(50% + 195px);
    transform: translate(-50%, -50%);
    @include bgc(#F8E6F6);
    @include sizeBox(590px, 725px);
    // @include absoluteCenter("both");
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    // @include posAbsoluteTL(150px, 617px);
    
    font-family: 'Lexend', sans-serif;
    text-align: center;
    background-image: url("./img/shape.png");

    &-inner {
      position: relative;
      z-index: 99;
      width: 100%;
      height: 100%;
      padding-left: 60px;
      color: #1C1C1C;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-weight: bold;
        font-size: 34px;
        line-height: 42.5px;
        letter-spacing: 0.25;
      }
      h2 {
        padding-top: 24px;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.15;
      }
    }


    .ball {
      position: absolute;
      left: 0%;
      right: 0%;
      bottom: 0%;
      animation: ball 3s linear alternate infinite;
    }

    .ball1 {
      position: absolute;
      left: 0%;
      right: 0%;
      bottom: 33%;
      animation: ball 2.5s linear alternate infinite;
    }

    .ball2 {
      position: absolute;
      left: 0%;
      right: 15%;
      top: 18%;
      bottom: 0%;

    }

    .ball3 {
      position: absolute;
      right: 0%;
      bottom: 0%;
      animation: ball 2.5s linear alternate infinite;
    }

    @keyframes ball {
      to {
        transform: translateY(10%);
      }
    }
  }
}