@media screen and (max-width: 1600px) {
    .form__content {
        @include absoluteCenter("both");
        @include sizeBox(460px, 526px);
        left: calc(50% - 183px);
       
       
        &-inner {
            #logo {
                margin-top: 70px;
            }

            h2 {
                padding-top: 30px;
            }
        }

        
    }


    .form {
        &__back {
            @include absoluteCenter("both");
            left: calc(50% + 195px);
            font-size: 62.5%;
            @include bgc(#F8E6F6);
            @include sizeBox(480px, 615px);
            box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
            border-radius: 24px;
            font-family: 'Lexend', sans-serif;
            text-align: center;
            background-image: url("./img/shape.png");
            background-size: cover;

            &-inner {
                position: relative;
                z-index: 99;
                width: 100%;
                height: 100%;
                padding-left: 60px;
                color: #1C1C1C;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 {
                    
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 42.5px;
                    letter-spacing: 0.25;
                }

                h2 {
                  padding-top: 10px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    letter-spacing: 0.15;
                }
            }


            .ball {
                position: absolute;
                left: 0%;
                right: 0%;
                bottom: 0%;
            }

            .ball1 {
                position: absolute;
                left: 0%;
                right: 5%;
                bottom: 25%;

            }

            .ball2 {
                position: absolute;
                left: 0%;
                right: 15%;
                top: 18%;
                bottom: 0%;

            }

            .ball3 {
                position: absolute;
                right: 0%;
                bottom: 0%;
            }
        }
    }
}

//IPHONE SE
@media screen and (max-width: 670px) {
    .content{
        height: 100vh;
    }
    .form {
        
        &__content {
          
           position: absolute;
           top:  50%;
           left: 50%;
           transform: translate(-50%,-50%);
           font-size: 80%;
            width: 80%;
            
           
           &-inner {
            margin: 0 40px 0 40px;
            
            }

            .btn__signin{
                margin-bottom: 70px;
            }
            
        }

        &__back {
            display: none;
        }
    }
}

//IPAD SE
// @media screen and (max-width: 820px) {
//     .content{
//         height: 100vh;
//     }
//     .form {
        
//         &__content {
          
//            position: absolute;
//            top:  50%;
//            left: 50%;
//            transform: translate(-50%,-50%);
//            font-size: 80%;
//            width: 60%;
           
//            &-inner {
//             margin: 0 40px 0 40px;
//             #logo {
//               width: 150px;  
//               margin-top: 40px;
//               color: #1F497D;
//               font-size: 80px;
//              }
//             }
//             .inline {
//                 padding-top: 40px;
//                 padding-bottom: 35px;
//               }
        
//               a {
//                 font-family: 'Lexend', sans-serif;
//                 font-size: 10px;
//                 line-height: 15px;
//                 font-weight: 300;
//                 color: #1c1c1c;
//                 text-align: center;
//               }
        
//               .btn__signin {
//                 margin-top: 48px;
//                 margin-bottom: 112.5px;
//                 text-transform: uppercase;
//                 font-family: 'Lexend', sans-serif;
//                 font-weight: 500;
//                 font-style: normal;
//                 font-size: 14px;
//                 line-height: 18px;
//                 color: #fff;
//                 background-color: #1F497D;
//                 text-align: center;
//                 border: none;
//                 border-radius: 24px;
//                 cursor: pointer;
//                 @include sizeBox(194px, 42px)
//               }
//               .field-signin1 {
//                 @include sizeBox(200px, 36px);
//                 background-color: #E0E0E0;
//                 border-radius: 8px;
//                 display: flex;
//                 flex-direction: row;
//                 align-items: center;
//                 padding-left: 17.33px;
          
//                 input {
//                   width: 100%;
//                   border: none;
//                   outline: none;
//                   background-color: #E0E0E0;
//                   font-family: 'Lexend', sans-serif;
//                   font-weight: 300;
//                   line-height: 20px;
//                   font-size: 16px;
//                   padding-left: 9.33px;
//                 }
//               }
          
//               .field-signin2 {
//                 @include sizeBox(200px, 36px);
//                 background-color: #E0E0E0;
//                 border-radius: 8px;
//                 display: flex;
//                 flex-direction: row;
//                 align-items: center;
//                 padding-left: 17.33px;
//                 margin-top: 23px;
          
//                 input {
//                   width: 100%;
//                   border: none;
//                   outline: none;
//                   background-color: #E0E0E0;
//                   font-family: 'Lexend', sans-serif;
//                   font-weight: 300;
//                   line-height: 20px;
//                   font-size: 16px;
//                   padding-left: 9.33px;
//                 }
//             }
        
        
            
//         }

//         &__back {
//             position: absolute;
//             top: 30%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//             font-size: 80%;
//             width: 60%;
//             &-inner {            
                
//                 padding: 130px 0px 0px 0px;
//                 color: #1c1c1c;
//                 text-align: center;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: flex-start;
//                 align-items: center;
//                 h1 {
//                  display: block;
//                 }
          
//                 h2 {
//                   display: none;
//                 }
//               }
//             .ball, .ball1, .ball2, .ball3{display: none;}
//         }
        
//     }
// }