@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap');
@import "./variables";
@import "./mixins";
@import "./base";
@import "./front";
@import "./back";
@import "./responsive";

.wrapper {
  width: 100%;
  max-height: 100vh;
}

.content {
  position: relative;
  @include sizeBox(100%, 100vh);
}





